# Add any directories, files, or patterns you don't want to be tracked by version control
#
sls
.env
__pycache__
*.pyc
_pgdata
*.egg-info
.cache
.coverage
.coverage.*
*.bak
*.sw*
*.un*
htmlcov
.serverless/
node_modules/
.pytest_cache
.postman_output
venv/
.serverless-wsgi
serverless_wsgi.py
wsgi_handler.py
lambdas/.DS_Store
.DS_Store
.vscode/settings.json
.idea
/pycharm_test_env/
.dynamodb
.dynamodb/*
